<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group radio">
        <h4>类别类型:</h4>
        <label class="center-block"><input type="radio" formControlName="type" value="department">一级分类</label>
        <label class="center-block"><input type="radio" formControlName="type" value="category">二级分类</label>
    </div>

    <div class="form-group">
        <label class="center-block">名字:
            <input class="form-control" formControlName="name">
        </label>
    </div>

    <div class="form-group">
        <label class="center-block">描述:
            <textarea class="form-control" formControlName="desc"></textarea>
        </label>
    </div>

    <div *ngIf="categoryForm.get('type').value=='category'">
        <div class="form-group">
            <label class="center-block">一级分类:
                <select class="form-control" formControlName="department">
                    <option *ngFor="let d of productService.departments" [value]="d.id">{{d.name}}</option>
                </select>
            </label>
        </div>

        <div class="form-group">
            <label class="center-block">banner图:
                <img src="{{'../images/' + banner}}"/>
            </label>
        </div>
    </div>

    <div style="margin-bottom: 1em">
        <button type="submit"
                [disabled]="categoryForm.pristine" class="btn btn-success">Save</button> &nbsp;
        <button type="reset" (click)="revert()"
                [disabled]="categoryForm.pristine" class="btn btn-danger">Revert</button>
    </div>
</form>
