<form [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
        <label class="center-block">名字:
            <input class="form-control" formControlName="name">
        </label>
    </div>

    <div class="form-group">
        <label class="center-block">分类:
            <select class="form-control" formControlName="category">
                <option *ngFor="let cate of productService.categories" [value]="cate.id">{{cate.name}}</option>
            </select>
        </label>
    </div>

    <div class="form-group">
        <label class="center-block">sku:
            <input class="form-control" formControlName="sku">
        </label>
    </div>

    <div class="form-group">
        <label class="center-block">描述:
            <textarea class="form-control" formControlName="content"></textarea>
        </label>
    </div>

    <div class="form-group">
        <label class="center-block">asin:
            <input class="form-control" formControlName="asin">
        </label>
    </div>

    <div class="form-group">
        <label class="center-block">原价:
            <input class="form-control" formControlName="price">
        </label>
    </div>

    <div class="form-group">
        <label class="center-block">售价:
            <input class="form-control" formControlName="sellPrice">
        </label>
    </div>

    <div class="form-group">
        <label class="center-block">库存:
            <input class="form-control" formControlName="sellPrice">
        </label>
    </div>

    <div class="checkbox">
        <label class="center-block">
            <input type="checkbox" formControlName="show">展示商品
        </label>
    </div>

    <div class="form-group">
        <label class="center-block">商品链接:
            <input class="form-control" formControlName="link">
        </label>
    </div>

    <div formArrayName="attributes" class="well well-lg">
        <div *ngFor="let attribute of attributes.controls; let i=index" [formGroupName]="i" >
            <!-- The repeated address template -->
            <h4>属性 #{{i + 1}}</h4>
            <div style="margin-left: 1em;">
                <div class="form-group">
                    <label class="center- block">属性名:
                        <input class="form-control" formControlName="key">
                    </label>
                </div>
                <div class="form-group">
                    <label class="center-block">属性值:
                        <input class="form-control" formControlName="value">
                    </label>
                </div>
            </div>
            <br>
            <!-- End of the repeated address template -->
        </div>
        <button (click)="addAttribute()" type="button">添加属性</button>
    </div>

    <div>
        <label>产品展示图:
            <div formGroupName="images" >
                <!--                <input  type="hidden" formControlName="image1" />
                                <input  type="hidden" formControlName="image2" />
                                <input  type="hidden" formControlName="image3" />
                                <input  type="hidden" formControlName="image4" />-->
                <div *ngFor="let spot of imageSpots">
                    <input #imageUrl type="hidden" formControlName="{{'image' + spot}}" />
                    <div *ngIf="imageUrl.value != ''">
                        <img src='{{"../images/" + imageUrl.value}}' width="200" height="50" />
                        <button (click)="removeImage(spot)">移除图片{{spot}}</button>
                    </div>
                    <div *ngIf="imageUrl.value === ''">
                        <button (click)="uploadImage(upbt, imageUrl.value, spot)">上传图片{{spot}}</button>
                    </div>
                </div>
                <input type="file" ng2FileSelect [uploader]="uploader" [style.display]="'none'"/>
            </div>
        </label>
    </div>

    <div style="margin-bottom: 1em">
        <button type="submit"
                [disabled]="productForm.pristine" class="btn btn-success">Save</button> &nbsp;
        <button type="reset" (click)="revert()"
                [disabled]="productForm.pristine" class="btn btn-danger">Revert</button>
    </div>
</form>

<p>productForm value: {{ productForm.value | json}}</p>
