<div class="main" *ngIf="product$ | async as _product">
    <div>
        产品分类
        <select [(ngModel)]="_product.category">
            <option *ngFor="let category of productService.categories" value={{category.id}}>{{category.name}}</option>
        </select>
    </div>

    <div>
        产品名称
        <input [(ngModel)]="_product.name" type="text" />
    </div>

    <div>
        产品描述
        <textarea [(ngModel)]="_product.desc"></textarea>
    </div>

    <div class="sku">
    </div>


    <div *ngIf="selectedProduct; else editBlock">
        <button (click)="edit(_product)">编辑</button>
    </div>
    <ng-template #editBlock>
        <div>
            <button (click)="submit(_product)">提交</button>
        </div>
    </ng-template>
</div>
