<div class="main" *ngIf="menu$ | async as menu">
    <div>
        sku名称
        <input [(ngModel)]="menu.name" type="text" />
    </div>

    <div>
        sku内容
        <textarea [(ngModel)]="menu.desc"></textarea>
    </div>

    <div>
        ASIN
        <input [(ngModel)]="menu.name" type="text" />
    </div>

    <div>
        sku号
        <input [(ngModel)]="menu.name" type="text" />
    </div>

    <div>
        原价
        <input [(ngModel)]="menu.name" type="text" />
    </div>

    <div>
        销售价
        <input [(ngModel)]="menu.name" type="text" />
    </div>

    <div>
        库存
        <input [(ngModel)]="menu.name" type="text" />
    </div>

    <div>
        是否展示:
        <input type="checkbox" />
    </div>

    <div>
        sku属性
        <textarea [(ngModel)]="menu.desc"></textarea>
    </div>

    <div>
        sku图片:
        <div *ngIf="menu.banner['1']">
            <img src='{{"../images/" + menu.banner["1"]}}' width="200" height="50" />
        </div>
        <input type="file" ng2FileSelect [uploader]="uploader" />
    </div>
</div>
