<nav>
    <tr>
        <td><a routerLink="menus" routerLinkActive="active">栏目列表</a>&nbsp;&nbsp;</td>
        <td><a routerLink="addMenu" routerLinkActive="active">添加栏目</a>&nbsp;&nbsp;</td>
        <td><a routerLink="articles" routerLinkActive="active">文章列表</a>&nbsp;&nbsp;</td>
        <td><a routerLink="addArticle" routerLinkActive="active">添加文章</a>&nbsp;&nbsp;</td>
        <!--<td><a routerLink="about5.html" routerLinkActive="active">草稿箱</a>&nbsp;&nbsp;</td>-->
        <!--<td><a routerLink="about6.html" routerLinkActive="active">回收箱</a>&nbsp;&nbsp;</td>-->
    </tr>
</nav>
<router-outlet></router-outlet>

