<div class="main" *ngIf="menu$ | async as menu">
    <div>
        父级节点
        <select [(ngModel)]="menu.parent">
            <option value={{aboutUsMenu}}>关于我们</option>
            <!--<option *ngFor="let menu of aboutService.menus" value={{menu.id}}>{{menu.name}}</option>-->
        </select>
    </div>

    <div>
        栏目名称
        <input [(ngModel)]="menu.name" type="text" />
    </div>

    <div>
        简要描述
        <textarea [(ngModel)]="menu.desc"></textarea>
    </div>

    <div>
        BANNER展示图
        <div *ngFor="let spot of imageSpots">
            <div *ngIf="menu.banner[spot]">
                <img src='{{"../images/" + menu.banner["1"]}}' width="200" height="50" />
                <button (click)="removeBanner(spot)">移除图片{{spot}}</button>
            </div>
            <div *ngIf="!menu.banner[spot]">
                <button (click)="uploadBanner(bt, spot)">上传图片{{spot}}</button>
            </div>
        </div>
        <input #bt type="file" ng2FileSelect [uploader]="uploader" [style.display]="'none'"/>
    </div>


    <div>
        内容
        <textarea [(ngModel)]="menu.content"></textarea>
    </div>

    <div *ngIf="selectedMenu; else editBlock">
        <button (click)="edit(menu)">编辑</button>
    </div>
    <ng-template #editBlock>
        <div>
            <button (click)="submit(menu)">提交</button>
        </div>
    </ng-template>
</div>
